<?xml version="1.0" encoding="UTF-8"?>
<plugin id="com.d29.cordova.microphone" version="1.2.1" xmlns="http://apache.org/cordova/ns/plugins/1.0">
  <name>MediocreMedia</name>
  <description>Steroids.js SUCKS. Ok?! it just sucks.</description>
  <license>Apache 2.0</license>
  <keywords>cordova,ios,microphone,permission,record</keywords>
  <repo>https://github.com/joedaniels29/cordova-plugin-sassy-media.git</repo>
  <issue>https://github.com/joedaniels29/cordova-plugin-sassy-media.git/issues</issue>
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="JDMedia">
        <param name="ios-package" value="JDMedia"/>
        <param name="onload" value="true"/>
      </feature>
    </config-file>
    <header-file src="src/ios/Media.h"/>
    <source-file src="src/ios/Media.m"/>
    <js-module src="www/ios/media.js" name="JDMedia">
      <clobbers target="navigator.jdmedia"/>
    </js-module>
  </platform>
</plugin>
